*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

main
app
server
my-gin-app

.env
.env.local
.env.development
.env.test
.env.production
!.env.example

.idea/
*.iml

.vscode/
*.code-workspace

.DS_Store

*.log
logs/

coverage.out
coverage.html

public/images/*
!public/images/.gitkeep

dist/
tmp/
